In [1]:
#Declare a string and store it in a variable. 

s="Hi my name is john"

#Check the type and print the id of the same.

print(type(s),id(s))

<class 'str'> 1938667427360

In [11]:
#Which are valid/invalid strings
# 1. 'This is Python class'
# valid/invalid

# 2. "This is Python class"
# valid/invalid

# 3. '''This is Python class'''
# valid/invalid

# 4. """This is Python class"""
# valid/invalid

# 5. 'This is Python's class'
# valid/invalid

# 6. "Learnbay provides "Java", "Python" classes"
# valid/invalid

# 7. "Learnbay provides 'Java', 'Python' classes"
# valid/invalid

# 8. "This is Python's class"
# valid/invalid

# 9. """Learnbay provides "Java", "Python" classes"""
# valid/invalid

# 10. '''Learnbay provides "Java", "Python" classes'''
# valid/invalid   #

# 11. '''Learnbay provides
# "Java", "Python" 
# classes'''
# valid/invalid

# 12. 'This is
# Python 
# class'
# valid/invalid


#------------------------------------------------------------

print('This is Python class')
print("This is Python class")
print('''This is Python class''')
print( """This is Python class""")
#print('This is Python's class')-------invalid
#print( "Learnbay provides "Java", "Python" classes")-------invalid
print("Learnbay provides 'Java', 'Python' classes")
print("This is Python's class")
print("""Learnbay provides "Java", "Python" classes""")
print('''Learnbay provides "Java", "Python" classes''')
print('''Learnbay provides
"Java", "Python" 
 classes''')
#print(This is --------------------------invalid
#Python 
#class')

This is Python class
This is Python class
This is Python class
This is Python class
Learnbay provides 'Java', 'Python' classes
This is Python's class
Learnbay provides "Java", "Python" classes
Learnbay provides "Java", "Python" classes
Learnbay provides
"Java", "Python"
 classes

In [14]:
#Write the code to get the output mentioned below print statement
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print("The length of my_str is ", len(my_str) )
#output:- The length of my_str is 66

print(id(my_str))
print(id(my_str1))
print(my_str is my_str1)

#output:- id of my_str and my_str1 is same? - True

print('Type of my_str is ',type(my_str))
#output:- Type of my_str is: str

The length of my_str is  66
1938683776048
1938683776304
False
Type of my_str is  <class 'str'>

In [29]:
#Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
#Write the code to get the output,instructions are mentioned below print statement. use indexing

print('The first character in my_str is: ',my_str[0])
#output:- The first character in my_str is: A
#Note:- Use positive indexing

print(' The last character in my_str is: ',my_str[len(my_str)-1])
#output:- The first character in my_str is: h
#Note:- Use len() function.

print('The character at index 10 in my_str is: ',my_str[10])
#output:- The character at index 10 in my_str is: c
#Note:- Use positive indexing

print('The last character in my_str is: ',my_str[-1])
#output:- The last character in my_str is: h
#Note:- Use negative indexing.

print(' The last character in my_str is: ',my_str[len(my_str)-1])
#output:- The last character in my_str is: h
#Note:- Use len() function.

print('The character in my_str is: ',my_str[9])
#output:- The character in my_str is: 8
#Note:- Use positive index

The first character in my_str is:  A
 The last character in my_str is:  h
The character at index 10 in my_str is:
The last character in my_str is:  h
 The last character in my_str is:  h
The character in my_str is:  8

In [88]:

#Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
#Write the code to get the output,instructions are mentioned below print statement. use slicing

print(my_str[::])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step


print(my_str[0:len(my_str)])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step


print(my_str[::1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step


print(my_str[0:len(my_str):1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step


print(my_str[0:len(my_str):-1])
#output:- You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.


print(my_str[0:len(my_str):2])
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth


print((my_str[0:len(my_str):3]))
#output:- You have sliced: Ahgttam tebo  r lsorDc

print(my_str[::-1])

#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step


print(my_str[-1:-len(my_str)-1:-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.


print(my_str[::-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step


print(my_str[-1:-len(my_str)-1:-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.


print(my_str[10:17:-1])
#What will be the output?


print(my_str[16:11:-1])
#output:- You have sliced: yaw ta, Using begin, end and step.

print(my_str[-17:-10:1])
#output:- You have sliced: ess you. Using begin, end and step.

Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.

Atog htwymyntb biu tfrtuls o'eDth
Ahgttam tebo  r lsorDc
.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
.cu ruysen si asovoe o a a athuhl
.cu ruysen si asovoe o a a athuhl

yaw t
ess you

In [93]:
#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.
#Output is: Learnbay Python

str3=str1+' '+str2
print(str3)

#Error: TypeError: can only concatenate str (not "int") to str


#Error: TypeError: can only concatenate str (not "float") to str



#Find below Output
#Output is: LearnbayLearnbayLearnbay

str1=str1*2
str3=str1+str2
print(str3)

#Error: TypeError: can't multiply sequence by non-int of type 'float'


#Error: TypeError: can't multiply sequence by non-int of type 'str'

Learnbay Python
LearnbayLearnbayPython

In [105]:
#Find below Output
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

#print True by using identity operator between str1 and str2

print(str1 is str2)

#print False by using identity operator between str1 and str3

print(str1 is str3)

#print False by using identity operator between str4 and str3

print(str4 is str3)

#Check if P is available in str1 and print True by using membership operator
print(str1.find('P'), 'P' in str1)

#Check if $ is available in str3 and print True by using membership operator

print(str3.find('$'), '$' in str3)

#Check if N is available in str3 and print False by using membership operator

print(str3.find('N'), 'N' in str3)

True
False
False
0 True
6 True
-1 False

In [111]:
#Complete the below code
str1 = 'This is Python class'
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment.

print(str1.replace('Python','Java'))

This is Java class

In [120]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator

print(str1>=str2)

#Compare str1 and str2 and print True using equality operator

print(str1==str2)

#Compare str1 and str2 and print False using equality operator

print(str1!=str2)

#Compare str1 and str2 and print False using comparison operator


print(str1<str2)

True
True
False
False

In [125]:
str1 = 'A'
str2 = 'a'
#Compare str1 and str2 and print True using comparison operator

print(str1<str2)

#Compare str1 and str2 and print True using equality operator

print(str1!=str2)

#Compare str1 and str2 and print False using equality operator

print(str1==str2)

#Compare str1 and str2 and print False using comparison operator

print(str1>str2)

True
True
False
False

In [145]:
str1 = 'A'
str2 = '65'
#Compare str1 and str2 using comparison operator and it should give below error.
#Error: TypeError: '>=' not supported between instances of 'str' and 'int'

print(str1>=str2)

#Compare str1 and str2 and print True using equality operator

print(str1!=str2)

#Compare str1 and str2 and print False using equality operator

print(str1==str2)

True
True
False

In [6]:
str1 = 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator

print(str1>=str2)

#Compare str1 and str2 and print True using equality operator

print(str1==str2)

#Compare str1 and str2 and print False using equality operator

print(str1!=str2)

#Compare str1 and str2 and print False using comparison operator

print(str1>str2)

True
True
False
False

In [14]:
str1 = 'Python'
str2 = 'python'
#Compare str1 and str2 and print True using comparison operator

print(str1<=str2)

#Compare str1 and str2 and print True using equality operator

print(str1!=str2)

#Compare str1 and str2 and print False using equality operator


print(str1==str2)

#Compare str1 and str2 and print False using comparison operator


print(str1>=str2)

True
True
False
False

In [36]:
a = 'Python'
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print(not b)
print(not a )

Python
True
False

In [38]:
a = ''
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print(not b)
print(not a)

True
True

In [43]:
a = 'Python'
b = 'learnbay'

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print(not a)
print(not b)

learnbay
Python
False
False

In [21]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.

print(my_str.count('t'))
print(my_str.find('t'))
print(my_str.index('t'))

#Write the code to get the index of '8' in my_str. Use find() and index() method.
print(my_str.index('8'))
print(my_str.find('8'))

#What will be the output of below code?

# print(my_str.find('the'))----------------------------1


# print(my_str.index('the'))-------------------------------------value error --->>substring not found


print(my_str.find('t', 9, 15))


print(my_str.rfind('u'))


print(my_str.rindex('u'))

7
2
2
9
9
11
63
63

In [48]:
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'

#input:- '    Python'
#output:- 'Python'

#input:- 'Python   '
#output:- 'Python'


s=input("enter a string: ")
print('output:',s.strip())

enter a string:    python
output: python

In [52]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to convert all alphabets in my_str into upper case.
print(my_str.upper())

#Write the code to convert all alphabets in my_str into lower case.
print(my_str.lower())

#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print(my_str.swapcase())

ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH
although 8 that way may not be obvious at first unless you're dutch
aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH

In [68]:
#Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding 
#capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital.

s=input("enter the string ")

if s[0]==s[0].lower():
    s1=s[0].upper()
    s2=s[1:len(s):1]
    s3=s1+s2
    print(s3)
else:
   print(s.title())

enter the string My name is john
My Name Is John

In [87]:
#Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal

s=input("enter a string ")
print("alphanumeric:", s.isalnum())
print("alphabet:",s.isalpha())
print("digit:", s.isdigit())
print('all letters are in lower case',s.islower())
print("all letters are in upper case:",s.isupper())
print('in title case:',s.istitle())
print("a space character:", s.isspace())
print("numeric:",s.isnumeric())
print("all number elements in string are decimal:",s.isnumeric())

enter a string Hijohn123
alphanumeric: True
alphabet: False
digit: False
all letters are in lower case False
all letters are in upper case: False
in title case: True
a space character: False
numeric: False
all number elements in string are decimal: False

In [92]:
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'



s=input("enter a string ")


print(s.isidentifier())

enter a string 1abc
False

In [96]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s.isprintable())

s = chr(27) + chr(97)
print(s.isprintable())

s = '\n'
print(s.isprintable())

s = ''
print(s.isprintable())

True
False
False
True

In [102]:
#What will be output of below code?
my_string = '  '
print(my_string.isascii())

my_string = 'Studytonight'
print(my_string.isascii())

my_string = 'Study tonight'
print(my_string.isascii())

my_string = 'Studytonight@123'
print(my_string.isascii())

my_string = '°'
print(my_string.isascii())

my_string = 'ö'
print(my_string.isascii())

True
True
True
True
False
False

In [103]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

The strings are equal.

In [120]:
#Write the code to get below output
#O/P 1:- python** (using ljust method)

a='python'

print(a.ljust(8,'*'))

#Write the code to get below output
#O/P 1:- **python (using rjust method)
a='python'

print(a.rjust(8,'*'))

#Write the code to get below output
#O/P 1:- **python** (using rjust method)

a='python'
print(a.center(10,'*'))

python**
**python
**python**

In [140]:
#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'
#Output:- 55

my_str='Over hill, over dale, Thorough bush,thorough brier Over'

print(len(my_str))

55

In [145]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 9

my_str='peter piper picked a peck of pickled peppers.'
print(my_str.count('p'))

9

In [156]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40



my_str='peter piper picked a peck of pickled peppers.'

for i in range(0,len(my_str)):
   if my_str[i]=='p':
    print(i)

0
6
8
12
21
29
37
39
40

In [157]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

s='peter piper picked a peck of pickled peppers.'

s1=s.split()
print(s1)

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [182]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers. pickled of peck a picked piper peter'

s='peter piper picked a peck of pickled peppers.'
s1=s.split()
print(s1)
s2=(s1[::-1])
print(s2)
print(' '.join(s2))

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']
['peppers.', 'pickled', 'of', 'peck', 'a', 'picked', 'piper', 'peter']
peppers. pickled of peck a picked piper peter

In [178]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- '.sreppep delkcip fo kcep a dekcip repip retep'

s='peter piper picked a peck of pickled peppers.'
s1=s[::-1]
print(s1)

.sreppep delkcip fo kcep a dekcip repip retep

In [185]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip .sreppep'

s='peter piper picked a peck of pickled peppers.'
s1=s[::-1]
print(s1)
s2=s1.split()
print(s2)
s3=s2[::-1]
print(s3)
s4=" ".join(s3)
print(s4)

.sreppep delkcip fo kcep a dekcip repip retep
['.sreppep', 'delkcip', 'fo', 'kcep', 'a', 'dekcip', 'repip', 'retep']
['retep', 'repip', 'dekcip', 'a', 'kcep', 'fo', 'delkcip', '.sreppep']
retep repip dekcip a kcep fo delkcip .sreppep

In [186]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers.'

s='peter piper picked a peck of pickled peppers.'

print(s.title())

Peter Piper Picked A Peck Of Pickled Peppers.

In [217]:
#Write a python program to find below output:-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
#Output:- 'Peter piper picked a peck of pickled peppers.'

s='peter piper picked A peck of pickled peppers.'

s1=s.split()
print(s1)
for i in range(0,len(s1)):
    
    if s1[i]=='A':
       s1[i]=s1[i].lower()
       
s2=' '.join(s1)  
print(s2)

['peter', 'piper', 'picked', 'A', 'peck', 'of', 'pickled', 'peppers.']
peter piper picked a peck of pickled peppers.

In [225]:
#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29

my_str='Peter Piper Picked A Peck Of Pickled Peppers.'

print(my_str.index('Pickl'))

29

In [226]:
#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first 
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'

my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
s1=my_str.replace('Peck', 'Pack')
print(s1)

Peter Piper Picked A Pack Of Pickled Peppers.

In [263]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'

my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'

s1=my_str.split()
s2=[]
print(s1)
for i in range(0,len(s1)):
    
    if s1[i]=='Peck':
       s2=s1[i]
       print(s2)

s3=s2.center(45,'*')

print(my_str)
print(s3)

['Peter', 'Piper', 'Picked', 'A', 'Peck', 'Of', 'Pickled', 'Peppers.']
Peck
Peter Piper Picked A Peck Of Pickled Peppers.
*********************Peck********************