In [3]:
#Declare a boolean value and store it in a variable. 


a = True
#Check the type and print the id of the same.

print(type(a),id(a))

<class 'bool'> 10302848

In [2]:
#Take one boolean value between 0 - 256.
#Assign it to two different variables.



#Check the id of both the variables. It should come same. Check why?
'''Id will be same as if we take any value except 0 then it will give u output as True only and used object reusability'''

s = bool(10)
t = bool(10)
print('Id of s is',id(s),type(s))
print('Id of t is',id(t),type(t))

Id of s is 10302848 <class 'bool'>
Id of t is 10302848 <class 'bool'>

In [6]:
#Arithmatic Operations on boolean data
#Take two different boolean values.
#Store them in two different variables.



#Do below operations on them:-
    #Find sum of both values
    


    #Find differce between them



    #Find the product of both.



    #Find value after dividing first value with second value
    

    
    #Find the remainder after dividing first value with second value
    

    
    #Find the quotient after dividing first value with second value
    

    
    #Find the result of first value to the power of second value.
    
a = False
b = True
c = a+b
d = a-b
e = a*b
f = a/b
g = a%b
h = a//b
i = a**b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

1
-1
0
0.0
0
0
0

In [7]:
#Comparison Operators on boolean values
#Take two different boolean values.
#Store them in two different variables.



#Do below operations on them:-
    #Compare these two values with below operator:-
        #Greater than, '>'
    


        #less than, '<'
    

        #Greater than or equal to, '>='


        #Less than or equal to, '<='    


#Observe their output(return type should be boolean)


a = True
b = False
print (a>b)
print (a<b)
print (a>=b)
print (a<=b)

True
False
True
False

In [12]:
#Equality Operator
#Take two different boolean values.
#Store them in two different variables.



#Equuate them using equality operator (==, !=)



#Observe the output(return type should be boolean)

a = True
b = False
print (a==b)
print (a!=b)

False
True

In [8]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(True and True)        #----------------------------------------->Output is True
print(False and True)        #----------------------------------------->Output is False
print(True and False)        #----------------------------------------->Output is False
print(False and False)       #----------------------------------------->Output is False

print(True or True)          #----------------------------------------->Output is True
print(False or True)         #----------------------------------------->Output is True
print(True or False)         #----------------------------------------->Output is True
print(False or False)        #----------------------------------------->Output is False

print(not True)              #----------------------------------------->Output is False
print(not False)             #----------------------------------------->Output is True

True
False
False
False
True
True
True
False
False
True

In [9]:
#Bitwise Operators
#Do below operations on the values provided below:-
    #Bitwise and(&) -----------------------------------------> True, True    -------> Output is True
    


    #Bitwise or(|)  -----------------------------------------> True, False   -------> Output is True



    #Bitwise(^)     -----------------------------------------> True, False   -------> Output is True

  

    #Bitwise negation(~) ------------------------------------> True          -------> Output is -2

   

    #Bitwise left shift  ------------------------------------> True,2        -------> Output is 4



    #Bitwise right shift ------------------------------------> True,2        -------> Output is 0



#Cross check the output manually

print(True & True)
print(True | False)
print(True ^ False)
print(~True)
print(True << 2)
print(True >> 2)

True
True
True
-2
4
0

In [10]:
#What is the output of expression inside print statement. Cross check before running the program.
a = True
b = True
print(a is b)          #True or False?   # True
print(a is not b)      #True or False?   # False

a = False
b = False
print(a is b)          #True or False?   # True
print(a is not b)      #True or False?   # False

True
False
True
False

In [11]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print(True in [10,10.20,10+20j,'Python', True])
print(False in (10,10.20,10+20j,'Python', False))
print(True in {1,2,3, True})
print(True in {True:100, False:200, True:300})
print(False in {True:100, False:200, True:300})

True
True
True
True
True